.formComtainer{
  padding: 10px;
  margin: 8px;
}
.fields{
  padding: 8px;
}

.fields input{
  width: 40rem;
}
.btn{
  background-color: rgb(8, 51, 37);
  width: 5rem;
  height: 2rem;
  margin-left: 20%;
  border-radius: 2rem;
}

.mainbody{
  background-color: gray;
  max-width: fit-content;
  margin-left: 5%;
  padding: 4%;
  margin: auto;
  margin-top: 12%;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 2rem;
  justify-items: center;
}

.count{
  background-color: white;
  width: 100%;
  display: flex;
  height: 2rem;
  margin-bottom: 2%;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 3%;
}
.functionbody{
  margin: 8px;
  margin-top: 6rem;
  padding: 2px;
}
.increment{
  background-color: rgb(24, 36, 24);
  padding: 5px;
  border-radius: 2rem;
  color: wheat;
}
.decrement {
  background-color: rgb(114, 145, 146);
  padding: 5px;
  border-radius: 2rem;
  color: rgb(204, 140, 43);
}

.screenDisplay{
  height: 40px;
  width: 250px;
  background-color: antiquewhite;
  border-radius: 0.2rem;
  padding: 8px;
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mainContent{
  height:300px;
  width: fit-content;
  background-color: rgb(5, 5, 5);
  margin: auto;
  margin-top: 5rem;
  padding: 8px;
}

.buttons{
  padding: 2px;

}

.buttons button{
  padding: 8px;
  border-radius: 1rem;
  width: 60px;
  margin-left: 4px;
}